{{define "header"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Twitch Bouncing Balls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Twitch Bouncing Balls">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/public/js/three.min.js"></script>
</head>
<link rel="stylesheet" href="/public/css/main.css">

<body>
    {{end}} {{define "footer"}}
</body>

</html>
{{end}}