{{template "header"}}
<div id="wrapper">
    <div id="left-menu">
        <div id="stream-list">
            {{ range $value := .Streams }}
            <li>{{ $value }}</li>
            {{ end }}
        </div>
    </div>
    <div id="render-area">
    </div>
</div>
<script>
    (function () {
        var width = window.innerWidth - 100;
        var height = window.innerHeight - 100;
        var scene = new THREE.Scene();
        camera = new THREE.OrthographicCamera(-width / 2, width / 2, height / 2, -height / 2, 1, 1000);
        camera.position.set(0, 0, 30)

        var renderer = new THREE.WebGLRenderer();
        renderer.setClearColor(0x52f97c);
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.getElementById('render-area').appendChild(renderer.domElement);

        window.addEventListener('resize', function () {
            var width = window.innerWidth;
            var height = window.innerHeight;
            renderer.setSize(width, height);
            camera.aspect = width / height;
            camera.updateProjectionMatrix();
        })

        var circles = [];
        var circleRadius = 40;
        var total = `{{.Total}}`;
        console.log(total)
        for (var i = 0; i < total; i++) {
            var geometry = new THREE.CircleBufferGeometry( circleRadius, 40 );
            
            const myUrl = 'https://static-cdn.jtvnw.net/jtv_user_pictures/avoidingthepuddle-profile_image-8656268d189524ec-300x300.jpeg'
            
            const textureLoader = new THREE.TextureLoader()
            textureLoader.crossOrigin = "Anonymous"
            const myTexture = textureLoader.load(myUrl)
            
            var material = new THREE.MeshBasicMaterial({map: myTexture});

            var mesh = new THREE.Mesh(geometry, material)
            circles[i] = new circle(mesh);

            scene.add(circles[i].mesh);
        }

        function circle(mesh) {
            var edge = [width / 2, height / 2]
            this.mesh = mesh;
            this.direction = [
                Math.round(Math.random()) == 1 ? 1 : -1,
                Math.round(Math.random()) == 1 ? 1 : -1,
            ];

            this.speed = Math.random() * 4 + 5; // Pixels per millisecond

            this.updatePosition = function () {
                this.mesh.position.x += this.direction[0] * this.speed;
                this.mesh.position.y += this.direction[1] * this.speed;
            }

            this.updateDirection = function () {
                if (Math.abs(this.mesh.position.x) + circleRadius >= edge[0])
                    this.direction[0] = -this.direction[0];
                if (Math.abs(this.mesh.position.y) + circleRadius >= edge[1])
                    this.direction[1] = -this.direction[1];
            }

        }

        function update() {
            for (var i = 0; i < circles.length; i++) {
                circles[i].updatePosition();
                circles[i].updateDirection();
            }
        }

        function render() {
            renderer.render(scene, camera);
        }

        function gameLoop() {
            window.animationId = requestAnimationFrame(gameLoop);
            render();
            update();
        }
        window.onload = gameLoop();

    })();
</script>
{{template "footer"}}